@import "#root/style/vars.css";
@import "#root/style/root.css";
@import "#root/style/mediaq";

body {
  background-color: var(--dark);
  color: var(--light);
  padding: 1.4rem;

  @include only-desktop {
    padding: 2rem;
  }
}

.intro {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;

  @include only-desktop {
    grid-template-columns: repeat(12, 1fr);
    align-items: start;
  }

  .intro__brand {
    width: clamp(4.6rem, 4.3761rem + 0.5742vw, 5.8rem);
    display: flex;
  }

  .intro__bar {
    grid-column: 3 span;
    background-color: var(--secondary-shade-1);
    border-radius: 3rem;
    margin: 0.4rem 0;

    @include only-desktop {
      grid-column-start: 2;
      grid-column-end: 5;
      height: 0.5rem;
    }

    @include only-large-desktop {
      grid-column-end: 6;
    }
  }

  .intro__heading {
    margin-top: 3rem;
    grid-column-start: 2;
    grid-column-end: 5;
    color: var(--dark-11);

    @include only-desktop {
      grid-column-start: 6;
      grid-column-end: 9;
      display: flex;
      margin: 0;
    }

    @include only-large-desktop {
      grid-column-start: 8;
      grid-column-end: 10;
    }
  }

  .intro__socials {
    margin-top: 1.6rem;
    grid-column-start: 2;
    grid-column-end: 5;
    color: var(--secondary);

    @include only-desktop {
      grid-column-start: 10;
      grid-column-end: 13;
      display: flex;
      flex-direction: column;
      margin-top: 0;
      justify-self: end;
    }

    @include only-large-desktop {
      grid-column-start: 11;
      grid-column-end: 13;
      justify-self: auto;
    }

    .socials__title {
      margin-bottom: 0.65rem;
      color: var(--light);
    }

    .socials__bucket {
      display: flex;
      gap: 0.5rem;

      a {
        width: auto;

        @include only-desktop {
          &:hover {
            color: var(--primary);
          }
        }
      }
    }

    .socials__discord {
      cursor: ne-resize;

      > span + span {
        display: none;
      }

      &:hover > span {
        display: none;
        + span {
          display: block;
        }
      }
    }
  }
}

.collection {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  margin-top: 5rem;
  grid-column-start: 2;
  grid-column-end: 5;

  @include only-desktop {
    grid-column-start: 4;
    grid-column-end: 13;
    grid-template-columns: repeat(6, 1fr);
    padding-right: 3.5rem;
  }

  @include only-large-desktop {
    gap: 3.5rem;
    grid-template-columns: repeat(7, 1fr);
  }

  .collection__item-image {
    width: 100%;
  }

  .collection__item-link {
    display: block;

    @include only-desktop {
      &:hover {
        .collection__item-image {
          border: 0.2rem solid var(--primary);
        }
      }
    }
  }

  .collection__item-title {
    font-family: var(--type-display);
    margin-bottom: 0.5rem;
    letter-spacing: 0.3rem;

    @include only-desktop {
      margin-bottom: 1rem;
    }
  }
}
