@import "#root/style/vars.css";
@import "#root/style/mediaq";

main {
  display: flex;
  height: var(--view);
  justify-content: center;
  align-items: center;
  flex-direction: column;

  @include only-mobile {
    justify-content: flex-start;
  }
}

.experience {
  aspect-ratio: 3/2;
  @include only-mobile {
    width: 90vw !important;
    aspect-ratio: 4/3;
    margin-top: 5vw;
  }
}

.content {
  color: var(--dark-7);
  font-size: 1.4rem;
  margin-top: 3rem;
  width: 50vw;
  text-align: right;

  @include only-mobile {
    width: 90vw !important;
    font-size: 1.2rem;
  }

  a {
    text-decoration: underline;
    width: auto;
    display: inline-block;
  }

  a:hover {
    color: var(--secondary);
  }

  @include only-desktop {
    .dk-warning {
      display: none;
      color: var(--dark-7);
    }
  }
}
