@import "#root/style/vars.css";
@import "#root/style/mediaq";

main {
  display: flex;
  height: var(--view);
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.experience {
  aspect-ratio: 3/2;
}

.content {
  color: var(--primary);
  font-size: 1.4rem;
  margin-top: 3rem;
  width: 50vw;
  text-align: right;

  a {
    text-decoration: underline;
    width: auto;
    display: inline-block;
  }

  a:hover {
    color: var(--secondary);
  }

  @include only-desktop {
    .dk-warning {
      display: none;
      color: var(--dark-7);
    }
  }
}
