@font-face {
  font-family: "neuehaasgrotesk-display";
  src: url("/fonts/neuehaasgrotesk-display.woff2") format("woff2"),
    url("/fonts/neuehaasgrotesk-display.ttf") format("truetype");
}

@font-face {
  font-family: "neuehaasgrotesk-text";
  src: url("/fonts/neuehaasgrotesk-text.woff2") format("woff2"),
    url("/fonts/neuehaasgrotesk-text.ttf") format("truetype");
  font-weight: 100 800;
}

:root {
  --dark: #1b1b28;
  --dark-2: #111827;
  --dark-4: #374151;
  --dark-5: #4b5563;
  --dark-7: #9ca3af;
  --dark-9: #e6e9ed;
  --dark-11: #f9fafb;
  --light: #fdfdfd;
  --primary: #d5cfff;
  --primary-tint-1: #dad3ff;
  --primary-tint-3: #e2ddff;
  --primary-shade-1: #bcb5e5;
  --primary-shade-2: #a29ccc;
  --primary-shade-6: #3c3666;
  --secondary: #ff5b37;
  --secondary-shade-1: #e5421e;
  --secondary-shade-2: #cc2804;
  --accent: #3ff09c;
  --accent-25: rgba(63, 240, 155, 0.35);
}

:root {
  --type-display: "neuehaasgrotesk-display", "Gill Sans", "Trebuchet MS",
    system-ui, -apple-system, sans-serif;
  --type-regular: "neuehaasgrotesk-text", "Gill Sans", "Trebuchet MS", system-ui,
    -apple-system, sans-serif;
}

:root {
  --view: 100vh;
}

@supports (height: 100dvh) {
  :root {
    --view: 100svh;
  }
}
